body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #000;
    padding-right: 60px;
    padding-left: 15px;
    height: 120px;
}

header img {
    width: 80px;
    height: 100px;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    border-left: 3px solid #000;
}

header div:nth-child(1) {
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img{
    width: 500px;
    height: 400px;
    
}

footer{
    display: flex;
    height: 250px;
    color: #fff;
    background-color: #000;
}

footer nav {
    display: flex;
    flex-direction: column;
}

footer a {
    color: #fff;
    padding: 5px;
}